html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
  background: #dfe6e9;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
  padding: 10px;
}

header {
  text-align: center;

  width: 100%;
  height: 100px;

  hr {
    width: 90%;
    opacity: .3;
  }
}

@media (max-width: 800px) {
  .App {
    width: 100vw;
  }
}
