.NavBar {
  width: 100vw;
  height: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border: 0.5px solid #ccc;
  border-right: none;
  border-left: none;

  transition: none;
  z-index: 10;

  & .NavBar__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /**/
    align-items: center;

    width: 18vw;
    height: 9vw;

    max-height: 5vw;

    font-size: 1.2vw;
    overflow: hidden;
    cursor: pointer;
    margin: 3px;
    background: #F8EFBA;

    & span {
      user-select: none;
      transition: all .2s;
      transform: scale(1)
    }
  }

  & .item__selected {
    opacity: .8;
    & span {
      transition: all .2s;
      transform: scale(1.1)
    }
  }

  & .NavBar__item:first-child {
    margin-left: 100px;
  }
  & .NavBar__item:last-child {
    margin-right: 100px;
  }
}
