.NavBar {
  width: 100vw;
  height: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border: 0.5px solid #ccc;
  border-right: none;
  border-left: none;

  transition: none;

  & .NavBar__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /**/
    align-items: center;

    width: 18vw;
    height: 6vw;

    font-size: 2vw;
    overflow: hidden;
    cursor: pointer;
    margin: 3px;
    background: #F8EFBA;

    & span {
      user-select: none;
      transition: all .15s;
      transform: scale(1)
    }
  }

  & .item__selected {
    opacity: .8;
    & span {
      transition: all .1s;
      transform: scale(0.9)
    }
  }
  & .NavBar__item:first-child {
    margin-left: 100px;
  }
  & .NavBar__item:last-child {
    margin-right: 100px;
  }

  @media (max-width: 1000px) {
    & .NavBar__item {
      width: 25vw;
      height: 7vw;
      font-size: 2vw;
    }
    & .NavBar__item:first-child {
      margin-left: 0;
    }
    & .NavBar__item:last-child {
      margin-right: 0;
    }
  }
}
