html, body {
    background: #edf0f1; 
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    text-align: center;
}
header {
    display: grid;
    grid-template-columns: 50% 24% 24%;
    grid-template-rows: 100px;
    font-size: 25px;
    letter-spacing: 3px;
}
h1 {transition-duration: .4s;cursor: pointer;}
h1:hover {letter-spacing: 5px;}
a {text-decoration: none; color: grey;}
.nav {transition-duration: .4s;border-bottom: 1px solid grey;}
.nav:hover {letter-spacing: 4px;}
footer {
    background: #4b6584;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
}
.projects {display: none;}